# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
/android
/ios
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS / Windows
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!.env.example
google-services.json
GoogleService-Info.plist

# EAS local credentials
credentials.json

# IDE
.idea/
.vscode/
*.iml
